body { font: 12px Arial;}

.main-container{
  border: 0.55px #e6e6e6 solid;
  /* display: block; */
  /* margin: 0 auto; */
  /* margin-top: 5px; */
   
}

.drop-zoon-over{
  /* width: 100%; */
  height: 100%;
  background-color: #9a9a9ab5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.drop-zoon-over p {
  color: white;
  background-color: rgb(104, 104, 104);
  padding: 1.5%;
  border-radius: 30px;
  margin:0px;

}

.drop-zoon-over  svg{
  stroke-width: 0;
  font-size: 3rem;
  fill: white;


}

.drop-zoon-blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
    filter: blur(5px);
}


.option-container .MuiToggleButton-root.Mui-selected{
  background-color: #afabab14 !important;
  border-left:2px solid rgb(207, 2, 53)!important ;   
}


.show-option-container {
  padding: 5px 0px;
  /* position: absolute; */
  /* bottom: 80px; */
}

.show-option-container .MuiToggleButton-root,.show-option-container .MuiToggleButton-root.Mui-selected{
  /* border-radius: 20px; */

}
.show-option-container .MuiToggleButton-root.Mui-selected{

  /* background-color: transparent;
  border: 1px solid #ff0000 !important; */
  background-color: #01b517;


  
}

.general-fun-bt{
  min-width: 40px !important;
  width: 40px;
  margin-top: 5px!important;
}


.general-fun-bt:not([disabled]) svg path{
  fill: #4e4e4e;
}



.MuiGrid-grid-xs-1 {
  /* max-width: 40px !important; */
}

/* .MuiGrid-grid-xs-11 {
  flex-grow: 1 !important;
} */



.MuiToggleButtonGroup-root{

  display:grid !important; 
}
.MuiToggleButton-root
{
  text-transform: none !important;
 border: none !important ;   

}



.MuiToggleButton-label svg,.MuiToggleButton-label .label{
  font-size: 1.1em;
}

.paths{
  -webkit-clip-path: url("#clip");
  clip-path: url("#clip");

}


.paths path {
  stroke-width: 1.5;
  fill: none;
  stroke-linejoin:round;
  stroke-linecap:round;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: rgb(104, 104, 104);
  stroke-opacity: 0.2;
  shape-rendering: crispEdges;
  stroke-dasharray: 3;
  stroke-width: 1;


}

.grid path {
  stroke-width: 0;
}

.zoom-container{
  fill: none;

}

.brush-conatiner{
  cursor: crosshair;
}
.zoom {
  cursor: move;
  pointer-events: all;
}

.MuiSvgIcon-root > path:first-child{
  stroke: gray;
}

.MuiToggleButton-sizeSmall {
  height: 30px !important;
}


