body { font: 12px Arial;}

.main-container{
  border: 0.55px #e6e6e6 solid;
  /* display: block; */
  /* margin: 0 auto; */
  /* margin-top: 5px; */
   
}


.option-container{
  /* display: flex; */
  /* padding: 5px; */
  /* bo
  rder-bottom:0.55px solid gray; */
}


.MuiGrid-grid-xs-1 {
  max-width: 40px !important;
}



.MuiToggleButtonGroup-root{

  display:grid !important; 
}
.MuiToggleButton-root
{
  text-transform: none !important;
 border: none !important ;   

}

.MuiToggleButton-root.Mui-selected{
  background-color: #afabab14 !important;
  border-left:2px solid rgb(207, 2, 53)!important ;   
}

.MuiToggleButton-label svg,.MuiToggleButton-label .label{
  font-size: 1.1em;
}

.paths{
  -webkit-clip-path: url("#clip");
  clip-path: url("#clip");

}


.paths path {
  stroke-width: 1.5;
  fill: none;
  stroke-linejoin:round;
  stroke-linecap:round;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: rgb(104, 104, 104);
  stroke-opacity: 0.2;
  shape-rendering: crispEdges;
  stroke-dasharray: 3;
  stroke-width: 1;


}

.grid path {
  stroke-width: 0;
}

.zoom-container{
  fill: none;

}

.brush-conatiner{
  cursor: crosshair;
}
.zoom {
  cursor: move;
  pointer-events: all;
}

.MuiSvgIcon-root > path:first-child{
  stroke: gray;
}

.MuiToggleButton-sizeSmall {
  height: 30px !important;
}


