body {
  font: 12px Arial;
}

.MuiSvgIcon-root {
  font-size: 1rem !important;
}

::-webkit-scrollbar {
  width: 6px !important;
  min-width: 5px !important;
  background-color: white !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 20px rgb(245, 245, 245);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);
  border-radius: 3px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.split-container {
  position: relative !important;
}

.Resizer {
  z-index: 1;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color: #f9f9f9;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.Resizer:after {
  content: '\2847';
  font-size: 16px;
  position: absolute;
  top: 50%;
}

.Resizer.vertical {
  width: 8px;
  cursor: col-resize;
}

.Resizer:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.Resizer.horizontal {
  height: 11px;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.SplitPane .Pane1 {
  min-width: 50% !important;
  max-width: 80% !important;
}

.header-toolbar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.header-toolbar button {
  width: 40px !important;
  min-width: 40px !important;
  background-color: transparent;
  border: none;
}

button:focus {
  outline: 0;
}
