body {
  font: 12px Arial;
}

.main-container {
  border: 0.55px #e6e6e6 solid;
  display: flex;

  /* display: block; */
  /* margin: 0 auto; */
  /* margin-top: 5px; */
}

.drop-zoon-over {
  /* width: 100%; */
  height: 100%;
  background-color: #9a9a9ab5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.drop-zoon-over p {
  color: white;
  background-color: rgb(104, 104, 104);
  padding: 1.5%;
  border-radius: 30px;
  margin: 0px;
}

.drop-zoon-over svg {
  stroke-width: 0;
  font-size: 3rem;
  fill: white;
}

.drop-zoon-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.option-container .MuiToggleButton-root.Mui-selected {
  background-color: #afabab14 !important;
  border-left: 2px solid rgb(207, 2, 53) !important ;
}

.show-option-container {
  padding: 5px 0px;
  /* position: absolute; */
  /* bottom: 80px; */
}

.show-option-container .MuiToggleButton-root,
.show-option-container .MuiToggleButton-root.Mui-selected {
  /* border-radius: 20px; */
}
.show-option-container .MuiToggleButton-root.Mui-selected {
  /* background-color: transparent;
  border: 1px solid #ff0000 !important; */
  background-color: #01b517;
}

.general-fun-bt {
  min-width: 40px !important;
  width: 40px;
  margin-top: 5px!important;
  text-transform: none !important;
}

.general-fun-bt:not([disabled]) svg path {
  fill: #4e4e4e;
}

/* .MuiGrid-grid-lg-1,.MuiGrid-grid-xl-1{
  max-width: 3.333333% !important;
  flex-basis: 8.333333%!important;

} */

.MuiGrid-grid-xs-1 {
  /* max-width: 40px !important; */
}

/* .MuiGrid-grid-xs-11 {
  flex-grow: 1 !important;
} */

.MuiToggleButtonGroup-root {
  display: grid !important;
}
.MuiToggleButton-root {
  text-transform: none !important;
  border: none !important ;
}

.MuiToggleButton-label svg,
.MuiToggleButton-label .label {
  font-size: 1.1em;
}

.paths {
  -webkit-clip-path: url('#clip');
  clip-path: url('#clip');
}

.paths path {
  stroke-width: 1.5;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: rgb(104, 104, 104);
  stroke-opacity: 0.2;
  shape-rendering: crispEdges;
  stroke-dasharray: 3;
  stroke-width: 1;
}

.grid path {
  stroke-width: 0;
}

.zoom-container {
  fill: none;
}

.brush-container{
  cursor: crosshair;
}
.zoom {
  cursor: move;
  pointer-events: all;
}

.MuiSvgIcon-root > path:first-child {
  stroke: gray;
}

.MuiToggleButton-sizeSmall {
  height: 30px !important;
}


.toolbar-container{
   
  display: flex;
  flex-direction: column;
  align-items: start;

}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


.split-container{
  position: relative !important;
}


.Resizer {
  z-index: 1;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color: #f9f9f9;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.Resizer:after {
  content: '\2847';
  font-size: 16px;
  position: absolute;
  top: 50%;
  }

.Resizer.vertical {
  width: 8px;
  /* margin: 0 -5px; */
  /* border-left: 2px solid rgb(119, 115, 115);
  border-right: 2px solid rgba(119, 115, 155); */
  cursor: col-resize;
}


.Resizer:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.Resizer.horizontal {
  height: 11px;
  /* margin: -5px 0; */
  /* border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%; */
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

/* .Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
} */
/* 
.Resizer.vertical:hover {
  border-left: 10px solid rgba(0, 0, 0, 0.6);
  border-right:  10px solid rgba(0, 0, 0, 0.5);
} */
.Resizer.disabled {
cursor: not-allowed;
}
.Resizer.disabled:hover {
border-color: transparent;
}


.SplitPane  .Pane1  {
  min-width: 50% !important;
  max-width: 80% !important;
}



