.rc-menu {
  border: none !important;
  box-shadow: none !important;
}

.rc-menu-item,
.rc-menu-submenu {
  color: white;
}

.rc-menu-item:hover {
  color: #ffffff;
  background-color: #37adff;
  font-weight: bold;
  transform: translate(2px);
  transition: transform 0.1s ease-in-out;
}

.rc-menu li {
  user-select: none;
  -webkit-user-select: none;
}

.rc-menu-submenu.rc-menu-submenu-active,
.rc-menu-submenu.rc-menu-submenu-selected,
.rc-menu:first-of-type .rc-menu-item.rc-menu-item-selected {
  color: black;
  background-color: white;
}

.rc-menu-submenu > .rc-menu {
  background-color: #28a4fb;
  color: #000000;
  font-size: 12px;
}
