@media print {
  .demo-main-container,
  .demo-main-container > div {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .demo-side-bar,
  .demo-main-container > div > div:first-child {
    display: none !important;
  }
}

.rc-menu {
  border: none !important;
  box-shadow: none !important;
}

.rc-menu-item,
.rc-menu-submenu {
  color: white;
}

.rc-menu-item:hover {
  background-color: #37adff;
  color: #fff;
  font-weight: bold;
  transform: translate(2px);
  transition: transform 0.1s ease-in-out;
}

.rc-menu li {
  user-select: none;
}

.rc-menu-submenu.rc-menu-submenu-active,
.rc-menu-submenu.rc-menu-submenu-selected,
.rc-menu:first-of-type .rc-menu-item.rc-menu-item-selected {
  background-color: white;
  color: black;
}

.rc-menu-submenu > .rc-menu {
  background-color: #28a4fb;
  color: #000;
  font-size: 12px;
}
