name: gh-pages deployment

on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: npm install and build
        run: |
          npm ci
          npm run build
      - name: push to gh-pages
        run: |
          git config user.email admin@cheminfo.org
          git config user.name "Cheminfo Bot"
          git remote set-url origin "https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}github.com/cheminfo/nmr-displayer.git"
          npm i -g gh-pages
          gh-pages -d build
        env:
          CI: true
