name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  nodejs:
    # Documentation: https://github.com/zakodium/workflows#nodejs-ci
    uses: zakodium/workflows/.github/workflows/nodejs.yml@nodejs-v1
    with:
      node-version: 24.x
      node-version-matrix: '[24]'
      lint-check-types: true
      upload-coverage: false
  knip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: package.json
      - run: npm ci
      - name: Run Knip
        run: npm run knip
  stylelint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: package.json
      - name: Install dependencies
        run: npm ci
      - name: Run Stylelint
        run: npm run stylelint
